* {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #fff; /* #214f73;  /* blue*/
}

.header {
  margin-bottom: 20px;
  position: relative;
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid #5FD3D4;
}


.title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid #5FD3D4;
  width: 40%;
  padding-bottom: 10px;
  text-align: center;
  font-size: 6vw;
  font-weight: 400;

}

.intro {
  position: absolute;
  top: 48%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 50%;
  opacity: 0.6;
  text-align: center;
  font-weight: 400;
  font-size: 2vw;

}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  cursor: pointer;
}

.til-toppen {
  visibility: visible;
  text-align: center;
  cursor: pointer;
  font-size: 1.1vw;
  padding-bottom: 0;
}

footer {
  margin-top: 80px;
  padding: 7px 0 3px;
  border-top: 1px solid #5FD3D4;
  text-align: center;
  visibility: visible;
  font-size: 1.5vw
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  text-align: center;
  padding: 1em 1.25em;
  width:
}

li {
  display: inline;
  cursor: pointer;
  height: 100%;
  width: 20px;
  border-radius: 100%;
  background-color: #214f73;
  color: #fff;
  text-align: center;
  margin-right: 2px;
  padding-top: 3px;
  transition-duration: 0.3s;
  border: none;
}

li:hover {
  background-color: #67cee5; /*#459E48; /* darker green */
}

.active-fag {
  padding-left: 20px;
}

#average-view {
  display: inline-block;
  position: sticky;
  top: 20px;
  float: right;
  width: 30%;
  margin-right: 20px;
  padding-top: 40px;
  visibility: visible;
}

#table-avg {
  width: 100%;
  padding: 2em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.div-fellesfag, .div-programfag {
  padding: 40px 1em 1em 1em;
  display: inline-block;
  float: left;
  /* border: 1px solid black; */
  width: 60%;
  visibility: visible;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
  /* border: 1px solid red; */
}

.divTableRow {
	display: table-row;
  width: auto;
}

.divTableHead {
	display: table-header-group;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em;
}


.divTableCell, .divTableHead {
	border-bottom: 1.5px solid #67cee5;
	display: table-cell;
  width: auto;
}


.divTableBody {
	display: table-row-group;
  border-bottom: 1.5px solid #67cee5;
  border-collapse: collapse;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*  */

.x-btn {
  cursor: pointer;
  padding: 0 1em 0 1em;
  color: #214f73;
}

.x-btn:hover {
  opacity: 0.6;
}


.grade-active {
  background-color: #67cee5;
}


/* Average-view table */

#table-avg, .fg-vitnemal, .gj-snitt, .tilleggspoeng, .konkurransePoeng {
  border-bottom: 1.5px solid #67cee5;
  border-collapse: collapse;
}


.avg {
  padding-top: 20px;
  border: none;
}

.big-row {
  font-size: 2vw;
  border: none;
}

.big-num {
  font-size: 4vw;
  text-align: right;
  font-weight: 900;
}

.num {
  text-align: center;
  border: none;
}

.plus {
  font-weight: bold;
  border: none;
}

.add {
  font-size: 1vw;
  border: none;
}

.par {
  padding-top: 0;
  border-bottom: none;
}


/* something isnt right with this one */
.ordinær-kvote {
  padding-bottom: 0;
  border-bottom: 3px solid #fff;
  font-size: 12px;
}


/* selections */
.more-fag {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 70px;
}

.sso-sel {
  float: left;
  margin-right: 50px;
}

.realfag-sel {
  float: left;
  margin-right: 50px;
}

.fellesfag-sel {
  float: left;
}

.alderspoeng-div {
  margin-bottom: 70px;
}

/* selectors */
.more-fag {
  width: 65%;
}

select {
  padding: 7px 5px 7px 0;
  font-size: 15px;
}

/* selector titles */
.sso-sel, .realfag-sel, .fellesfag-sel {
  width: 27%;
  font-weight: 400;
}

/* selectors */
.fag-selection-sso, .fag-selection-realfag, .fag-selection-fellesfag {
  width: 100%;
  padding: 7px 5px 7px 0;
  border: 1px solid #67cee5;
}

.alderspoeng-sel {
  width: 30%;
  padding: 7px 5px 7px 0;
  font-size: 15px;
  border: 1px solid #67cee5;
}

/* content */
option {
  font-size: 16px;
}

/* checkboxes */
.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #67cee5;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-right: 5px;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #214f73;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #214f73;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: -3px;
	left: 2.5px;
	color: #99a1a7;
}


.mobile-average {
  display: none;
}

/* responsive */
@media (max-width:850px) {

  html {
    height: auto !important;
    padding-bottom: 20vh !important;
  }


  .header {
    margin-bottom: 20px;
    position: relative;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid #5FD3D4;
  }


  .title {
    position: absolute;
    top: 38.25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #5FD3D4;
    width: 57%;
    padding-bottom: 15px;
    text-align: center;
    font-size: 9vw;
    font-weight: 400;
  }

  .intro {
    position: absolute;
    top: 46.5%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 50%;
    opacity: 0.6;
    text-align: center;
    font-weight: 400;
    font-size: 4vw;
  }


  li {
    height: 1.25vw;
    width: 3vw;
    padding-bottom: 9px;
  }

  #average-view {
    display: none;
  }

  .div-fellesfag, .div-programfag, .divTable {
    display: block;
    float: none;
    position: relative;
    width: auto;
    justify-content: center;
    font-size: 2vw;
  }

  .more-fag {
    width: 100%;
    text-align: center;
  }

  .sso-sel {
    width: 100%;
  }

  .fag-selection-sso, .fag-selection-realfag, .fag-selection-fellesfag {
    width: auto;
    padding: 7px 5px 7px 0;
    border: 1px solid #67cee5;
  }

  .sso-sel, .realfag-sel, .fellesfag-sel {
    width: 100%;
    font-weight: 400;
  }

  .alderspoeng-div {
    text-align: center;
  }

  .checkbox-tilleggspoeng {
    text-align: center;
  }

  .mobile-average {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #214f73;
    z-index: 1;
    height: 20%;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),
                inset 0px -15px 10px -12px rgba(0,0,0,0.05),
                inset 15px 10px -12px rgba(255,255,255,0.1);
  }

  .mobile-box {
    display: inline-block;
    margin: 0;
    font-size: 3em;
    height: 100%;
    text-align: center;
  }

  .one {
    float: left;
    width: 50%;
    border-right: 1px solid #67cee5;
  }

  .two {
    float: right;
    width: 49%;
  }

  #mobile-text {
    font-size: 0.25em;
    margin: 0;
  }

  .mobile-fg-vitnemal, .mobile-konkurransePoeng {
    font-size: 1.75em;
    margin-top: 0;
  }
	
}
